{% extends "::layout.html.twig" %}

{% block title %} Acccueil - {{ parent() }} {% endblock %}

{% block breadcrumbs %}
    <a href="#" class="breadcrumb">Accueil</a>
{% endblock %}

{% block image %}
        <img src="{{ asset('images/pyramide2.jpg') }}" id="banniere">
{% endblock %}

{% block etape %}Accueil{% endblock %}

{% block bouton %}
{% endblock %}

{% block contenu %}
    <h3 class="row center">
    Bienvenue sur la platform de réservation de billet du musée du Louvre.
    </h3>
    <div class="row center">
        <a class="waves-effect waves-light btn amber accent-4" href="{{ path('step1') }}">Commander</a>
    </div>
    <div class="row center">
        <h4>Réservation:</h4>
        <p><strong>Possibilité de réservation pour les jours suivants:</strong></p>
        <p>Lundi, Mercredi, Jeudi, Vendredi, Samedi</p>
        <p><strong>Sauf</strong> les jours férier, mardi et dimanche </p>
    </div>
    <div class="row center">
        <h4>tarifs:</h4>
        <ul>
            <li><strong>Standard (à partir de 12 ans) :</strong> 16€</li>
            <li><strong>Enfant (entre 4 et 12 ans) :</strong> 8€</li>
            <li><strong>Bébé (avant 4 ans) :</strong> gratuis</li>
            <li><strong>Sénior (à partie de 60 ans):</strong> 12€</li>
            <li><strong>Réduit (étudiant, employé du musée, service culturels ...) :</strong> 10€</li>
            <li><strong>Demi journée ( visite à partir de 14h) :</strong> demi tarif</li>
            <li>Pour pouvoir bénéficier du tarif réduit, Veuillez apporter les justificatifs correspondant à votre statut.</li>
        </ul>
    </div>
{% endblock %}
