{% extends "::layout.html.twig" %}
{% block body %}
    <div class="row">
        <p>Confirmation d'achat</p>
        <p>La transaction s'est bien déroulé. Vous retrouverez vos billet dans la boîte mail.</p>
    </div>
{% endblock %}