{% extends "::layout.html.twig" %}
{% block body %}
    <div class="row">
        <form class="col s12">
            <div class="row center">
                <div class="input-field col s6 push-s3">
                    <input placeholder="Entrez votre prénom" id="prenom" type="text" class="validate">
                    <label for="prenom">Prénom</label>
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s6 push-s3">
                    <input placeholder="Entrez votre nom" id="nom" type="text" class="validate">
                    <label for="nom">Nom</label>
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s6 push-s3">
                    <label for="dateNaissance">Date de naissance</label>
                    <input type="text" class="datepicker" id="dateNaissance"/>
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s6 push-s3">
                    <label for="pays">Pays</label>
                    <input type="text" class="" id="pays"/>
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s6 push-s3">
                    <input type="checkbox" id="tarifReduit" />
                    <label for="tarifReduit">Tarif réduit</label>
                </div>
            </div>
            <div class="row center">
                <a class="waves-effect waves-light btn" href="{{ path('paiement') }}">Suivant</a>
            </div>
        </form>
    </div>
{% endblock %}