{% extends "::layout.html.twig" %}

{% block title %}
    Mentions légales - {{ parent() }}
{% endblock %}

{% block contenu %}
    <h2>Mentions légales</h2>
    <h3>Le site internet</h3>
    <p>Ce site internet est <strong>fictif</strong>. Il est réalisé dans le cadre d'une formation.<br>
    Toutes informations et contenus ont été crée de toute pièce, toutes ressemblances avec des organismes réels ou événements serait purement fortuite<br>

        Développement : Alice Wong<br />
        Droit d'auteur/d'images : Pixabay, Alice Wong<br />
        Licence : Creative Commons 0.<br>
    </p>
    <h3>Données personnelles </h3>
    <p>Les informations recueillies sur le site font l’objet d’un traitement informatique destiné à <strong>l'équipe de la platforme de réservation du musée</strong><br>
    Pour la ou les finalité(s) suivante(s) : <strong>la gestion des billets de réservations.</strong><br>
        Le ou les destinataire(s) des données sont : <strong>Le service de réservation du musée</strong></p>
    <p>Conformément à la <a href="/fr/loi-78-17-du-6-janvier-1978-modifiee">loi « informatique et libertés » du 6 janvier 1978 modifiée</a>, vous disposez d’un <a href="/fr/le-droit-dacces">droit d’accès</a> et <a href="/fr/le-droit-de-rectification">de rectification</a> aux informations qui vous concernent. </p>
    <p>Vous pouvez accèder aux informations vous concernant en vous adressant à l'administrateur du site<br>
    <p>Vous pouvez également, pour des motifs légitimes, <a href="/fr/le-droit-dopposition">vous opposer au traitement des données vous concernant</a>.</p>
    <p>Pour en savoir plus, <a href="/fr/comprendre-vos-droits">consultez vos droits sur le site de la CNIL</a>.</p>
{% endblock %}
