{% extends "::layout.html.twig" %}

{% block title %}
    Mentions légales - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Mentions légales</h2>
    <p>
        mentions légales
    </p>
{% endblock %}